pom.xml
pom.xml.asc
*jar
*.war
*.ear
*.log
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

.gradle
build/

.idea/
/out/
.idea_modules/

.scala_dependencies
.worksheet

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.gradletasknamecache
gradle/wrapper/gradle-wrapper.jar